@import 'src/theme/theme-variables';

a,
a:visited,
a:hover {
  color: $primary-500;
  text-decoration: none;
}

a:hover {
  color: $primary-500;
}

body,
html {
  min-height: 100vh;
}

::ng-deep .layout-wrapper {
  .layout-nav {
    .toolbar {
      height: 60px;
      display: flex;
      align-items: center;
      font-weight: 600;
      img {
        margin: 0 16px;
      }
    }
    .menu {
      height: 40px;
      display: flex;
      align-items: center;

      ul {
        margin: 0;
        list-style: none;
        padding-left: 1rem;
      }
    }
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  /********************************** BUTTONS ***********************/
  .fab-btn {
    width: fit-content;
    padding: 0.9rem 1rem;
  }
}

::ng-deep formly-form,
::ng-deep formly-group {
  display: flex;
  flex-wrap: wrap;

  formly-field {
    flex: 1;
    min-width: 100%;
    formly-wrapper-primeng-form-field {
      display: block;

      label {
        margin-bottom: 5px !important;
      }

      input {
        width: 100%;
      }

      p-calendar {
        border: none !important;
        display: block !important;
        padding: 0 !important;
        .ui-calendar {
          display: flex;
        }
      }
    }
  }

  &.md {
    formly-field {
      min-width: 50%;
    }
  }
  &.lg {
    formly-field {
      min-width: 33%;
    }
  }
  &.xl {
    formly-field {
      min-width: 25%;
    }
  }
}
