<div class="layout-wrapper fluid-container">
      <div class="layout-nav">
            <div class="toolbar">
                  <div class="container">
                        <img width="40"
                             alt="Angular Logo"
                             src="/assets/images/E-docs-logo-transparent-small.png" />
                        <span>{{title}}</span>
                  </div>
            </div>
            <div class="menu">
                  <div class="container">
                        <ul>
                              <li>
                                    <a [routerLink]="['/admin/formularios']"> Formulários</a>
                              </li>
                        </ul>
                  </div>
            </div>
      </div>
      <div class="container">
            <router-outlet></router-outlet>

      </div>
</div>

<div *ngIf="loading"
     class="w-100 h-100 position-fixed d-flex justify-content-center align-items-center">
      <div class="spinner-border text-primary position-fixed">
      </div>
</div>

<p-toast></p-toast>


<p-confirmDialog #cd
                 header="Confirmação"
                 icon="pi pi-exclamation-triangle">
      <p-footer>
            <button type="button"
                    pButton
                    icon="pi pi-times"
                    label="Não"
                    (click)="cd.reject()"></button>
            <button type="button"
                    pButton
                    icon="pi pi-check"
                    label="Sim"
                    (click)="cd.accept()"></button>
      </p-footer>
</p-confirmDialog>